
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags  -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Deply - Error 404</title>
    <link rel="icon" type="image/png" href="https://files.deply.dev/files/c346aa44-cba5-4640-b10e-725f99364064-d9dbe359-0b5c-480d-8198-f1088f14730d-Deply-Logo.ico" />

    <!--Core CSS -->
    <link rel="stylesheet" href="/static/assets/css/app.css" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8ZNRQ9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="huro-app" class="app-wrapper">
        <!--Full pageloader-->
        <!-- Pageloader -->
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full is-active"></div>
        <div class="minimal-wrapper darker">
            <!--Page body-->

            <div class="error-container">
                <div class="error-wrapper">
                    <div style="margin-top:15%;" class="error-inner has-text-centered">
                        <div class="bg-number dark-inverted">404</div>
                        <img class="light-image" src="/static/assets/img/illustrations/placeholders/error-1.svg" alt="" />
                        <img class="dark-image" src="/static/assets/img/illustrations/placeholders/error-1-dark.svg" alt="" />
                        <h3 class="dark-inverted">No hemos encontrado la página</h3>
                        <p>Parece que no hemos encontrado la página. Por favor, inténtelo de nuevo o póngase en contacto con el administrador si el problema persiste.</p>
                        <p>También puede comprobar el <a href="https://status.deply.dev">status de Deply</a></p>
                        <div class="button-wrap">
                            <a class="button h-button is-primary is-elevated" onclick="goBack()">Llevarme atras</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Huro Scripts-->
        <!--Load Mapbox-->

        <!-- Concatenated plugins -->
        <script src="/static/assets/js/app.js"></script>

        <!-- Huro js -->
        <script src="/static/assets/js/functions.js"></script>
        <script src="/static/assets/js/main.js" async></script>
        <script src="/static/assets/js/components.js" async></script>
        <script src="/static/assets/js/popover.js" async></script>
        <script src="/static/assets/js/widgets.js" async></script>


        <!-- Additional Features -->
        <script src="/static/assets/js/touch.js" async></script>

        <!-- Landing page js -->

        <!-- Dashboards js -->

















        <!-- Charts js -->



        <!--Forms-->

        <!--Wizard-->

        <!-- Layouts js -->











        <script src="assets/js/syntax.js" async></script>
    </div>
</body>

</html>