<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Deply</title>
    <link rel="icon" type="image/png" href="https://files.deply.dev/files/c346aa44-cba5-4640-b10e-725f99364064-d9dbe359-0b5c-480d-8198-f1088f14730d-Deply-Logo.ico" />

    <!--Core CSS -->
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

</head>

<body>
    <div id="huro-app" class="app-wrapper">

        <!--Full pageloader-->
        <!-- Pageloader -->
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full is-active"></div>
        <div class="auth-wrapper">
            <!--Page body-->

            <div class="auth-wrapper-inner is-single">

                <!--Fake navigation-->
                <div class="auth-nav">
                    <div class="left"></div>
                    <!-- <div class="center">
                        <a style="margin-top: 10%;" href="/" class="header-item">
                            <img width="400%" class="light-image" src="/static/assets/img/logos/logo/conjunto-light.svg" alt="">
                            <img width="400%" class="dark-image" src="/static/assets/img/logos/logo/conjunto-dark.svg" alt="">
                        </a>
                    </div> -->
                </div>

                <!--Single Centered Form-->
                <div style="margin-top: 3%;" class="single-form-wrap">
                    
                    <div class="inner-wrap">
                        <!--Form Title-->
                        {% if msg %}
                        <div class="message is-danger">
                            <a class="delete"></a>
                            <div class="message-body">
                                {{ msg | safe }}
                            </div>
                        </div>
                        <br>
                        {% endif %}
                        <div class="auth-head">
                            <h2 style="margin-bottom: 5%;">Ingresa tu nueva contraseña</h2>
                        </div>

                        <!--Form-->
                        <div class="form-card">

                            <form role="form" method="post" id="login-form" class="login-wrapper" action="">{% csrf_token %}
                                <div id="signin-form" class="login-form">
                                    <!-- Input -->
                                    <div class="field">
                                        <div class="control has-icon has-validation">
                                            <input id="id_new_password1" autocomplete="new-password" name="new_password1" class="input" type="password" placeholder="Nueva contraseña">
                                            <span class="form-icon">
                                                    <i data-feather="lock"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Input -->
                                    <div class="field">
                                        <div class="control has-icon has-validation">
                                            <input id="id_new_password2" autocomplete="new-password" name="new_password2" class="input" type="password" placeholder="Confirma la nueva contraseña">
                                            <span class="form-icon">
                                                    <i data-feather="lock"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Submit -->
                                    <div class="control login">
                                        <button id="login-submit" type="submit" name="login" class="button h-button is-primary is-bold is-fullwidth is-raised">Restablecer contraseña</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Huro Scripts-->
        <!-- Concatenated plugins -->
        <script src="/static/assets/js/app.js"></script>

        <!-- Huro js -->
        <script src="/static/assets/js/functions.js"></script>
        <script src="/static/assets/js/auth.js"></script>
    </div>
</body>

</html>