<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Deply - Contraseña restablecida</title>
    <link rel="icon" type="image/png" href="https://files.deply.dev/files/c346aa44-cba5-4640-b10e-725f99364064-d9dbe359-0b5c-480d-8198-f1088f14730d-Deply-Logo.ico" />

    <!--Core CSS -->
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

</head>

<body>
    <div id="huro-app" class="app-wrapper">

        <!--Full pageloader-->
        <!-- Pageloader -->
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full is-active"></div>
        <div class="auth-wrapper">
            <!--Page body-->

            <div class="auth-wrapper-inner is-single">

                <!--Fake navigation-->
                <div class="auth-nav">
                    <div class="left"></div>
                    <!-- <div class="center">
                        <a style="margin-top: 10%;" href="/" class="header-item">
                            <img width="400%" class="light-image" src="/static/assets/img/logos/logo/conjunto-light.svg" alt="">
                            <img width="400%" class="dark-image" src="/static/assets/img/logos/logo/conjunto-dark.svg" alt="">
                        </a>
                    </div> -->
                </div>
            </div>
        </div>

        <!--Huro Scripts-->
        <!-- Concatenated plugins -->
        <script src="/static/assets/js/app.js"></script>

        <!-- Huro js -->
        <script src="/static/assets/js/functions.js"></script>
        <script src="/static/assets/js/main.js" async></script>
        <script src="/static/assets/js/components.js" async></script>
        <script src="/static/assets/js/popover.js" async></script>
        <script src="/static/assets/js/widgets.js" async></script>


        <!-- Additional Features -->
        <script src="/static/assets/js/touch.js" async></script>
        <script>
        window.onload = function() {
            alertify.alert('Contraseña restablecida', 'Tu contraseña ha sido restablecida, ya puedes volver a iniciar sesión. Si ha ocurrido un problema ponte en contacto con el equipo de Deply.', function() { window.location.href = '/'; });
            //initConfirm('Revisa tu email', 'Se ha enviado un email a tu correo con las instrucciones para restablecer tu contraseña. Si no lo encuentras en tu bandeja de entrada, revisa en la carpeta de spam.', false, false, 'Ir al mail', 'Ok');
        }
        </script>
    </div>
</body>

</html>